PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=j4X4P5QEkALRC6dX-eMqMDqGTe8aTLBb
DRIVE_DISK=local
DB_CONNECTION=sqlite
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
